@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar section */
/* navbar section */
/* navbar section */

nav {
  /* border: 2px solid cyan; */
  background-color: black;
  display: flex;
  align-items: center;
  font-size: large;
}

nav li {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: white;
}

.navLeftDiv {
  /* border: 2px solid red; */
  width: 40vw;
}

.navRightDiv {
  /* border: 2px solid greenyellow; */
  width: 60vw;
}


/* footer starts here */
/* footer starts here */
/* footer starts here */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 10vh;
  color: white;
  text-decoration: underline;
  /* position: fixed;
  width: 100%;
  left: 0;
  bottom: 0; */
}

/* card starts here */
/* card starts here */
/* card starts here */

.card {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 5px gray;
  margin: 1rem;
}

.card :hover {
  color: crimson;

}

.cardBody {
  width: 95%;
  height: 95%;
  display: flex;
  flex-flow: column;
}

.cardImg {
  width: 100%;
  height: 50%;
}

.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.cardAddBtn a {
  text-decoration: none;
  background-color: skyblue;
  border-radius: 10px;
  padding: 10px;
  transition: 1s;
}

.cardAddBtn a:hover {
  color: white;
  padding-left: 6rem;
  padding-right: 6rem;
  background-color: orange;
}

/* 
.cardAddBtn :active{
  box-shadow: 2px 2px 5px 5px red;
} */

.cardData {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 50%;
}

.cardRemoveBtn a {
  text-decoration: none;
  background-color: skyblue;
  border-radius: 10px;
  padding: 10px;
  transition: 1s;
}

/* home page styling starts here */
/* home page styling starts here */
/* home page styling starts here */

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}


/* cart starts here */
/* cart starts here */
/* cart starts here */

.cartContainer {
  display: flex;
  flex-flow: wrap row;
}

/* single page starts here */
/* single page starts here */
/* single page starts here */

.singlePageContainer {
  width: 100vw;
  height: 77vh;
  /* border: 2px solid red; */
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.singleImg {
  /* border: 2px solid black; */
  width: 30vw;
  height: 40vh;
}


.singleImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 2rem;
}

.singleTitle {
  font-size: larger;
  margin-left: 2rem;
}

.singlePrice {
  font-size: large;
  margin-left: 2rem;
}

.singleDiscription {
  margin-left: 2rem;
}

.singleAddBtn {
  margin-left: 2rem;

}



.wrapper{
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 0px 8px 4px gainsboro; */
}


.singleProductContainer {
  /* border: 1px solid black; */
  width: 90%;
  min-height: 90%;
  /* max-height: 90%; */
  display: flex;
  box-shadow: 0px 0px 8px 4px gainsboro;
}

.productImageContainer {
  /* border: 2px solid red; */
  width: 40%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* margin-top: 3rem; */
}

.productInformationContainer {
  /* border: 2px solid rebeccapurple; */
  width: 50%;
  padding: 1rem;
  font-family: roboto;
}

.mainImageContainer {
  /* border: 2px solid green; */
  /* width: 70%; */
  /* height: 60%; */
  max-width: 50%;
  max-height: 50%;
  /* border: 2px solid gainsboro; */
  padding: 3rem;
}

.mainImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.addCartBtn button{
  padding: 10px 50px;
  background-color: skyblue;
  border-radius: 10px;
  font-size: x-large;
  font-weight: 600;
  color: lightyellow;
  border: none;
  box-shadow: 0px 0px 2px 2px grey;
}

.addCartBtn :hover{
  background-color: orange;
}

.addCartBtn :active{
  box-shadow: 0px 0px 2px 2px red;
}

.singleDescriptionContainer :hover{
  box-shadow: 0px 0px 8px 4px gainsboro;
}

.singlePriceContainer :hover{
  box-shadow: 0px 0px 8px 4px gainsboro;
}

.singleTitleContainer :hover{
  box-shadow: 0px 0px 8px 4px gainsboro;
}

.productInformationContainer{
  box-shadow: -9px 0px 8px -4px gainsboro;
}
/* 
.productImageContainer{
  box-shadow: 0px 0px 8px 4px gainsboro;
} */